<tr id="<%= dom_id blog_post %>">
  <td class="bg-gray-50">
    <h3><%= link_to blog_post.title, blog_post %></h3>
  </td>

  <td>
    <%= blog_post.body.html_safe %>
  </td>
  <td>
    <%= link_to "Edit", edit_blog_post_path(blog_post) %> 
    <%= button_to "Delete", blog_post_path(blog_post), method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr> 
</div>

