<p style="color: green"><%= notice %></p>

<h1 class="p-5 bg-gray-50 mb-1">Blog posts</h1>
<div class="border-x-2">
  <table id="blog_posts">
    <tr>
      <th class="bg-gray-50">Title</th>
      <th>Body</th>
      <th colspan="3">Actions</th>
    </tr>
    <tr>
    <% @blog_posts.each_with_index do |blog_post, index| %>
      <%= render blog_post %>
    <% end %>  
    </tr>
  </table>
</div>

<%= link_to new_blog_post_path do %>
  <h2 class="p-10 bg-gray-50">New post</h2>
<% end %>

<%= link_to "About us", about_blog_posts_path %> | <%= link_to "Go home", root_path %>